absl-py==0.11.0
backcall==0.2.0
black==23.1.0
certifi==2022.12.7
cffi==1.15.1
click==8.1.3
cloudpickle==2.2.1
cycler==0.11.0
Cython==0.29.33
decorator==5.1.0
fasteners==0.18
filelock==3.3.2
fonttools==4.38.0
FrEIA==0.2
glfw==2.5.7
gym==0.21.0
gym-notices==0.0.8
Gymnasium==0.26.3
gymnasium-notices==0.0.1
-e git+git@github.com:abagaria/affordances.git@25b6421e565336786118bc3c866f8e9b629e5a98#egg=ikflow&subdirectory=ikflow
imageio==2.26.0
importlib-metadata==6.0.0
ipdb==0.13.9
ipython==7.34.0
jax-jumpy==0.2.0
jedi==0.18.0
kinpy==0.2.1
kiwisolver==1.4.4
Klampt==0.9.0
llvmlite==0.36.0
lxml==4.9.2
matplotlib==3.5.3
matplotlib-inline==0.1.3
Minigrid==2.1.0
mujoco-py==2.1.2.14
mypy-extensions==1.0.0
numba==0.53.1
numpy==1.22.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
onager==0.1.3
packaging==23.0
pandas==1.5.3
parso==0.8.2
pathspec==0.11.1
pexpect==4.8.0
-e git+git@github.com:pfnet/pfrl.git@2ad3d51a7a971f3fe7f2711f024be11642990d61#egg=pfrl
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
prompt-toolkit==3.0.22
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.10.0
PyOpenGL==3.1.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
-e git+git@github.com:babbatem/robosuite.git@626ad0ebd422afb9b515d53a9c11676ebff4a4f8#egg=robosuite&subdirectory=../../robosuite
scipy==1.10.1
six==1.16.0
tabulate==0.9.0
toml==0.10.2
tomli==2.0.1
torch==1.13.1
tqdm==4.62.3
traitlets==5.1.1
transformations==2020.1.1
typing-extensions==4.5.0
vtk==9.2.6
wcwidth==0.2.5
zipp==3.13.0
